/*! CSS Used from: https://de.wikipedia.org/w/load.php?lang=de&modules=ext.cite.styles%7Cext.flaggedRevs.basic%2Cicons%7Cext.uls.interlanguage%7Cext.visualEditor.desktopArticleTarget.noscript%7Cext.wikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cmediawiki.toc.styles%7Cmediawiki.widgets.styles%7Coojs-ui-core.icons%2Cstyles%7Coojs-ui.styles.indicators%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector */
.mw-cite-backlink,.cite-accessibility-label{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
ol.references{counter-reset:mw-ref-extends-parent list-item;}
ol.references > li{counter-increment:mw-ref-extends-parent;counter-reset:mw-ref-extends-child;}
sup.reference{unicode-bidi:-moz-isolate;unicode-bidi:-webkit-isolate;unicode-bidi:isolate;white-space:nowrap;font-weight:normal;font-style:normal;}
ol.references li:target,sup.reference:target{background-color:#eaf3ff;}
@media print{
.mw-cite-backlink{display:none;}
}
#p-lang .uls-settings-trigger{background:transparent no-repeat center top;background-image:url(https://de.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.png?30312);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.svg?c3fa1);border:0;min-height:16px;min-width:16px;float:right;cursor:pointer;}
#p-lang .uls-settings-trigger::-moz-focus-inner{border:0;}
#p-lang .uls-settings-trigger:focus{outline:1px solid #36c;}
.skin-vector #p-lang .uls-settings-trigger{margin-top:8px;}
#p-lang .uls-settings-trigger:hover{background-position:center -16px;}
.badge-goodarticle{list-style-image:url(https://de.wikipedia.org/w/extensions/WikimediaBadges/resources/images/badge-silver-star.png?70a8c);}
.badge-featuredarticle{list-style-image:url(https://de.wikipedia.org/w/extensions/WikimediaBadges/resources/images/badge-golden-star.png?ed948);}
@media print{
.noprint,.catlinks,.magnify,.mw-cite-backlink,.mw-indicators,#footer-places,#mw-navigation,#siteNotice{display:none;}
body{background:#fff;color:#000;margin:0;padding:0;}
a{background:none!important;padding:0!important;}
a,a.external,a.new{color:inherit!important;text-decoration:inherit!important;}
.mw-parser-output a.external.text:after{content:' (' attr(href) ')';word-break:break-all;word-wrap:break-word;}
h1,h2,h3,h4{font-weight:bold;page-break-after:avoid;page-break-before:avoid;}
p{margin:1em 0;line-height:1.2;orphans:3;widows:3;}
img,.thumb{page-break-inside:avoid;}
img{border:0;vertical-align:middle;}
sup{line-height:1;}
ul{list-style-type:square;}
.mw-body{background:#fff;color:#000;border:0!important;padding:0!important;margin:0!important;direction:ltr;}
.toc{background-color:#f9f9f9;border:1pt solid #aaa;padding:5px;display:table;}
.tocnumber,.toctext{display:table-cell;}
.tocnumber{padding-left:0;padding-right:0.5em;}
.mw-content-ltr .tocnumber{padding-left:0;padding-right:0.5em;}
div.tright{float:right;clear:right;position:relative;}
div.tright{margin:0.5em 0 1.3em 1.4em;}
div.thumb{background-color:transparent;width:auto;}
div.thumb a{border-bottom:0;}
div.thumbinner{background-color:#fff;border:0;border-radius:2px;padding:5px;font-size:10pt;color:#666;text-align:center;overflow:hidden;min-width:100px;}
html .thumbcaption{text-align:left;line-height:1.4;padding:3px;}
.catlinks ul{display:inline;padding:0;list-style:none none;}
.catlinks li{display:inline-block;line-height:1.15;margin:0.1em 0;border-left:1pt solid #aaa;padding:0 0.4em;}
.catlinks li:first-child{border-left:0;padding-left:0.2em;}
.printfooter{padding:1em 0;}
#footer{background:#fff;color:#000;margin-top:1em;border-top:1pt solid #aaa;padding-top:5px;direction:ltr;}
}
@media screen{
.mw-content-ltr{direction:ltr;}
.sitedir-ltr input{direction:ltr;}
input[type='submit']{direction:ltr;}
.mw-content-ltr .thumbcaption{text-align:left;}
.mw-content-ltr .magnify{float:right;}
#catlinks{text-align:left;}
.catlinks ul{display:inline;margin:0;padding:0;list-style:none none;}
.catlinks li{display:inline-block;line-height:1.25em;border-left:1px solid #a2a9b1;margin:0.125em 0;padding:0 0.5em;}
.catlinks li:first-child{padding-left:0.25em;border-left:0;}
a.new{color:#ba0000;}
.plainlinks a.external{background:none!important;padding:0!important;}
.visualClear{clear:both;}
.mw-content-ltr ul{margin:0.3em 0 0 1.6em;padding:0;}
.mw-content-ltr ol{margin:0.3em 0 0 3.2em;padding:0;}
.toc ul{margin:0.3em 0;}
.mw-content-ltr .toc ul{text-align:left;}
.mw-content-ltr .toc ul ul{margin:0 0 0 2em;}
.toc .toctitle{direction:ltr;}
div.tright{clear:right;float:right;}
.printfooter{display:none;}
sup{line-height:1;}
}
@media screen{
a{text-decoration:none;color:#0645ad;background:none;}
a:not([href]){cursor:pointer;}
a:visited{color:#0b0080;}
a:active{color:#faa700;}
a:hover,a:focus{text-decoration:underline;}
a:lang(ar),a:lang(ps),a:lang(ur){text-decoration:none;}
a.new{color:#ba0000;}
a.new:visited{color:#a55858;}
.mw-parser-output a.external{color:#36b;}
.mw-parser-output a.external:visited{color:#636;}
.mw-parser-output a.external:active{color:#b63;}
.mw-parser-output a.external.free{word-wrap:break-word;}
img{border:0;vertical-align:middle;}
h1,h2,h3,h4{color:#000;background:none;font-weight:normal;margin:0;overflow:hidden;padding-top:0.5em;padding-bottom:0.17em;border-bottom:1px solid #a2a9b1;}
h1{font-size:188%;}
h2{font-size:150%;}
h3,h4{border-bottom:0;font-weight:bold;}
h3{font-size:128%;}
h4{font-size:116%;}
h1,h2{margin-bottom:0.6em;}
h3,h4{margin-bottom:0.3em;}
p{margin:0.4em 0 0.5em 0;}
ul{margin:0.3em 0 0 1.6em;padding:0;}
ol{margin:0.3em 0 0 3.2em;padding:0;list-style-image:none;}
li{margin-bottom:0.1em;}
table{font-size:100%;}
form{border:0;margin:0;}
.toc{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;font-size:95%;}
.toc{display:table;padding:7px;}
.toc h2{display:inline;border:0;padding:0;font-size:100%;font-weight:bold;}
.toc .toctitle{text-align:center;}
.toc ul{list-style-type:none;list-style-image:none;margin-left:0;padding:0;text-align:left;}
.toc ul ul{margin:0 0 0 2em;}
.tocnumber,.toctext{display:table-cell;text-decoration:inherit;}
.tocnumber{padding-left:0;padding-right:0.5em;color:#222;}
.mw-content-ltr .tocnumber{padding-left:0;padding-right:0.5em;}
div.thumb{margin-bottom:0.5em;width:auto;background-color:transparent;}
div.thumbinner{border:1px solid #c8ccd1;padding:3px;background-color:#f8f9fa;font-size:94%;text-align:center;overflow:hidden;}
html .thumbimage{background-color:#fff;border:1px solid #c8ccd1;}
html .thumbcaption{border:0;line-height:1.4em;padding:3px;font-size:94%;text-align:left;}
.magnify{float:right;margin-left:3px;}
.magnify a{display:block;text-indent:15px;white-space:nowrap;overflow:hidden;width:15px;height:11px;background-image:url(https://de.wikipedia.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png?4f704);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}
.mw-content-ltr .thumbcaption{text-align:left;}
.mw-content-ltr .magnify{float:right;margin-left:3px;margin-right:0;}
.mw-content-ltr .magnify a{background-image:url(https://de.wikipedia.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png?4f704);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?8330e);}
div.tright{margin:0.5em 0 1.3em 1.4em;}
.catlinks{border:1px solid #a2a9b1;background-color:#f8f9fa;padding:5px;margin-top:1em;clear:both;}
#siteNotice{position:relative;text-align:center;margin:0;}
#siteSub{display:none;}
#contentSub{font-size:84%;line-height:1.2em;margin:0 0 1.4em 1em;color:#54595d;width:auto;}
}
.mw-wiki-logo{background-image:url(https://de.wikipedia.org/static/images/project-logos/dewiki.png);}
@media (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(min-resolution:1.5dppx),(min-resolution:144dpi){
.mw-wiki-logo{background-image:url(https://de.wikipedia.org/static/images/project-logos/dewiki-1.5x.png);background-size:135px auto;}
}
@media (-webkit-min-device-pixel-ratio:2),(min--moz-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi){
.mw-wiki-logo{background-image:url(https://de.wikipedia.org/static/images/project-logos/dewiki-2x.png);background-size:135px auto;}
}
.toctogglecheckbox:checked ~ ul{display:none;}
@media screen{
.toctogglespan{font-size:94%;}
.toctogglelabel{cursor:pointer;color:#0645ad;}
.toctogglelabel:hover{text-decoration:underline;}
.toctogglecheckbox:focus + .toctitle .toctogglelabel{text-decoration:underline;outline:dotted 1px;outline:auto -webkit-focus-ring-color;}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after{content:'Anzeigen';}
}
@media print{
.toctogglecheckbox:checked + .toctitle{display:none;}
}
@media screen{
body{height:100%;margin:0;padding:0;font-family:sans-serif;}
body{background-color:#f6f6f6;overflow-y:scroll;}
.mw-body{background-color:#ffffff;color:#222222;padding:1em;direction:ltr;}
.mw-body,#mw-data-after-content{margin-left:10em;}
.mw-body{border:1px solid #a7d7f9;border-right-width:0;margin-top:-1px;}
.mw-body h1,.mw-body-content h2{margin-bottom:0.25em;padding:0;font-family:'Linux Libertine','Georgia','Times',serif;line-height:1.3;}
.mw-body h1{font-size:1.8em;}
.mw-body .firstHeading{overflow:visible;}
.mw-body .mw-indicators{float:right;font-size:0.875em;line-height:1.6;position:relative;z-index:1;}
.mw-body-content{position:relative;font-size:0.875em;line-height:1.6;z-index:0;}
.mw-body-content p{margin:0.5em 0;}
.mw-body-content h2{margin-top:1em;font-size:1.5em;}
.mw-body-content h3,.mw-body-content h4{margin-top:0.3em;margin-bottom:0;padding-bottom:0;line-height:1.6;}
.mw-body-content h3{font-size:1.2em;}
.mw-body-content h3,.mw-body-content h4{font-weight:bold;}
.mw-body-content h4{font-size:100%;}
.mw-body-content .toc h2{font-family:sans-serif;font-size:100%;}
.emptyPortlet{display:none;}
ul{list-style-image:url(https://de.wikipedia.org/w/skins/Vector/images/bullet-icon.svg?872f1);}
#siteNotice{font-size:0.8em;}
#p-personal{position:absolute;top:0.33em;right:0.75em;z-index:100;}
#p-personal h3{display:none;}
#p-personal ul{list-style:none none;margin:0;padding-left:10em;}
#p-personal li{float:left;margin-left:0.75em;padding-top:0.5em;font-size:0.75em;line-height:1.16666667;white-space:nowrap;}
#pt-anonuserpage{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/user-avatar.png?59494);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/skins/Vector/images/user-avatar.svg?b7f58);background-position:left 0.33333333em;background-repeat:no-repeat;background-size:1.16666667em 1.16666667em;padding-top:0.5em!important;padding-left:16px!important;}
#pt-anonuserpage{color:#54595d;}
#p-search{float:left;margin-right:0.5em;margin-left:0.5em;}
#p-search h3{display:block;position:absolute!important;clip:rect(1px,1px,1px,1px);width:1px;height:1px;margin:-1px;border:0;padding:0;overflow:hidden;}
#p-search form{margin:0.5em 0 0;}
#simpleSearch{display:block;width:13.2em;width:20vw;min-width:5em;max-width:20em;height:100%;margin-top:0;position:relative;}
#simpleSearch input{margin:0;}
#searchInput{background-color:#ffffff;background-color:rgba(255,255,255,0.5);color:#000000;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #a2a9b1;border-radius:2px;padding:0.4em 1.84615385em 0.4em 0.4em;-webkit-box-shadow:inset 0 0 0 1px transparent;box-shadow:inset 0 0 0 1px transparent;font-size:0.8125em;direction:ltr;-webkit-transition:border-color 250ms,box-shadow 250ms;-moz-transition:border-color 250ms,box-shadow 250ms;transition:border-color 250ms,box-shadow 250ms;-webkit-appearance:textfield;}
#simpleSearch:hover #searchInput{border-color:#72777d;}
#searchInput:focus,#simpleSearch:hover #searchInput:focus{outline:0;border-color:#3366cc;-webkit-box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;}
#searchInput::-webkit-input-placeholder{color:#72777d;opacity:1;}
#searchInput:-ms-input-placeholder{color:#72777d;opacity:1;}
#searchInput::-moz-placeholder{color:#72777d;opacity:1;}
#searchInput:-moz-placeholder{color:#72777d;opacity:1;}
#searchInput::placeholder{color:#72777d;opacity:1;}
#searchButton{background-color:transparent;position:absolute;top:1px;bottom:1px;right:1px;min-width:24px;width:1.84615385em;border:0;padding:0;cursor:pointer;font-size:0.8125em;direction:ltr;text-indent:-99999px;white-space:nowrap;overflow:hidden;z-index:1;}
#searchButton{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/search.png?39f97);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/skins/Vector/images/search.svg?4d50a);background-position:center center;background-repeat:no-repeat;}
.vectorTabs{background-position:left bottom;float:left;height:2.5em;padding-left:1px;}
.vectorTabs h3{display:none;}
.vectorTabs ul{float:left;height:100%;list-style:none none;margin:0;padding:0;}
.vectorTabs li{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/tab-normal-fade.png?1cc52);background-image:linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);background-position:left bottom;background-repeat:repeat-x;float:left;display:block;height:100%;margin:0;padding:0;line-height:1.125em;white-space:nowrap;}
.vectorTabs li a{background-position:right bottom;color:#0645ad;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;float:left;height:3.07692308em;position:relative;padding-top:1.25em;padding-left:8px;padding-right:8px;font-size:0.8125em;cursor:pointer;}
.vectorTabs .selected{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/tab-current-fade.png?22887);background:#ffffff;}
.vectorTabs .selected a,.vectorTabs .selected a:visited{color:#222222;text-decoration:none;}
.vectorMenu{direction:ltr;float:left;cursor:pointer;position:relative;line-height:1.125em;}
.vectorMenu h3{color:#444444;position:relative;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:1.25em;padding-left:8px;padding-right:1.84615385em;font-size:0.8125em;font-weight:normal;}
.vectorMenu h3:after{content:'';background-image:url(https://de.wikipedia.org/w/skins/Vector/images/arrow-down.png?42edd);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/skins/Vector/images/arrow-down.svg?2f021);background-position:100% 50%;background-repeat:no-repeat;position:absolute;top:0.76923077em;right:8px;bottom:0;width:1.23076923em;opacity:0.85;}
.vectorMenu h3:hover,.vectorMenu h3:focus{color:#222222;}
.vectorMenu h3:hover:after,.vectorMenu h3:focus:after{opacity:1;}
.vectorMenu .menu{background-color:#ffffff;list-style:none none;min-width:100%;position:absolute;top:2.5em;left:-1px;margin:0;border:1px solid #a2a9b1;border-top-width:0;padding:0;box-shadow:0 1px 1px 0 rgba(0,0,0,0.1);text-align:left;opacity:0;visibility:hidden;-webkit-transition:opacity 100ms;-moz-transition:opacity 100ms;transition:opacity 100ms;z-index:2;}
.vectorMenu:hover .menu{opacity:1;visibility:visible;}
.vectorMenu .vectorMenuCheckbox:checked ~ .menu{opacity:1;visibility:visible;}
#mw-head .vectorMenu h3{background-position:right bottom;float:left;height:3.07692308em;margin:0 -1px 0 0;padding-right:1.84615385em;}
.vectorTabs,.vectorTabs a,#mw-head .vectorMenu h3{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/tab-separator.png?09d4b);background-image:linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);background-repeat:no-repeat;background-size:1px 100%;}
.vectorMenuCheckbox{cursor:pointer;position:absolute;top:0;left:0;z-index:1;opacity:0;width:100%;height:100%;margin:0;padding:0;display:none;}
.vectorMenuCheckbox:checked + h3:after{transform:scaleY(-1);}
.vectorMenuCheckbox:focus + h3{outline:dotted 1px;outline:auto -webkit-focus-ring-color;}
#mw-navigation h2{position:absolute;top:-9999px;}
#mw-page-base{background-position:bottom left;height:5em;background-color:#fbfbfb;background-image:-webkit-gradient(linear,right top,right bottom,color-stop(50%,#ffffff),color-stop(100%,#f6f6f6));background-image:-webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);background-image:-moz-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);background-image:linear-gradient(to bottom,#ffffff 50%,#f6f6f6 100%);}
#mw-head-base{margin-top:-5em;margin-left:10em;height:5em;}
#mw-head{position:absolute;top:0;right:0;width:100%;}
#left-navigation{float:left;margin-left:10em;margin-top:2.5em;margin-bottom:-2.5em;}
#right-navigation{float:right;margin-top:2.5em;}
#p-logo{width:10em;height:160px;}
#p-logo a{background-position:center center;background-repeat:no-repeat;display:block;width:10em;height:160px;text-decoration:none;}
#mw-panel{position:absolute;top:0;width:10em;left:0;font-size:inherit;}
#mw-panel .portal{margin:0 0.6em 0 0.7em;padding:0.25em 0;direction:ltr;}
#mw-panel .portal h3{color:#444444;font-weight:normal;margin:0.5em 0 0 0.66666667em;padding:0.25em 0;cursor:default;border:0;font-size:0.75em;}
#mw-panel .portal .body{background-image:url(https://de.wikipedia.org/w/skins/Vector/images/portal-separator.png?4ab04);background-image:linear-gradient(to right,transparent 0,#c8ccd1 35%,#c8ccd1 70%,transparent 100%);background-repeat:no-repeat;background-size:100% 1px;margin-left:0.5em;padding-top:0;}
#mw-panel .portal .body ul{list-style:none none;margin:0;padding-top:0.3em;}
#mw-panel .portal .body li{margin:0;padding:0.25em 0;font-size:0.75em;line-height:1.125em;word-wrap:break-word;}
#mw-panel .portal .body li a{color:#0645ad;}
#mw-panel .portal .body li a:visited{color:#0b0080;}
#mw-panel #p-logo + .portal{background-image:none;margin-top:1em;}
#mw-panel #p-logo + .portal h3{display:none;}
#mw-panel #p-logo + .portal .body{background-image:none;margin-left:0.5em;}
#footer{margin-left:10em;margin-top:0;padding:0.75em;direction:ltr;}
#footer ul{list-style:none none;margin:0;padding:0;}
#footer li{color:#222222;margin:0;padding:0.5em 0;font-size:0.7em;}
#footer-icons{float:right;}
#footer-icons li{float:left;margin-left:0.5em;line-height:2;text-align:right;}
#footer-info li{line-height:1.4;}
#footer-places li{float:left;margin-right:1em;line-height:2;}
.mw-parser-output .external{background-position:center right;background-repeat:no-repeat;background-image:url(https://de.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.png?325de);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/skins/Vector/images/external-link-ltr-icon.svg?b4b84);padding-right:13px;}
}
@media screen and (min-width:982px){
.mw-body,#mw-head-base,#left-navigation,#mw-data-after-content,#footer{margin-left:11em;}
.mw-body{padding:1.25em 1.5em 1.5em 1.5em;}
#footer{padding:1.25em;}
#mw-panel{padding-left:0.5em;}
#p-search{margin-right:1em;}
#p-personal{right:1em;}
}
.firstHeading:before{content:url(//de.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg);display:block;height:18px;left:-9999px;line-height:0;margin-bottom:20px;position:absolute;width:116px;}
@media print{
.toc,body{padding:10px;font-family:'Linux Libertine','Georgia','Times',serif;}
.printfooter,#footer,.thumb,table,ol,ul,h3,h4{font-family:sans-serif;}
img{font-family:'Linux Libertine','Georgia','Times',serif;}
.firstHeading{font-size:25pt;line-height:28pt;margin-bottom:20px;padding-bottom:5px;}
.firstHeading:before{left:auto;position:relative;}
.firstHeading,h2{overflow:hidden;border-bottom:2px solid #000000;}
h3,h4{margin:30px 0 0;}
h2,h3,h4{padding:0;position:relative;}
h2{font-size:18pt;line-height:24pt;margin-bottom:0.25em;}
h3{font-size:14pt;line-height:20pt;}
h4{font-size:12pt;line-height:16pt;}
p{font-size:12pt;line-height:16pt;margin-top:5px;text-align:justify;}
p:before{content:'';display:block;width:120pt;overflow:hidden;}
ol,ul{margin:10px 0 0 1.6em;padding:0;}
ol li,ul li{padding:2px 0;font-size:12pt;}
.toc{page-break-before:avoid;page-break-after:avoid;background:none;border:0;display:table;}
.toc a{border:0;font-weight:normal;}
.toc > ul > li{margin-bottom:4px;font-weight:bold;}
.toc ul{margin:0;list-style:none;}
.toc ul ul{padding-left:30px;}
.toc li.toclevel-1 > a{font-size:12pt;font-weight:bold;}
.mw-jump-link,.toc .tocnumber{display:none;}
.printfooter{margin-top:10px;border-top:3px solid #000000;padding-top:10px;font-size:10pt;clear:both;}
#footer{margin-top:12px;border-top:1px solid #eeeeee;padding-top:5px;}
#footer-info{margin:0;padding:0;}
#footer-info li{color:#999;list-style:none;display:block;padding-bottom:10px;font-size:10pt;}
#footer-info li a{color:#999!important;}
#footer-info-lastmod{color:#000000;font-size:12pt;font-weight:bold;}
}
.wb-langlinks-link{line-height:1.125em;font-size:0.75em;float:right;}
.wb-langlinks-link{list-style:none none;text-align:right;padding-right:0.5em!important;}
.wb-langlinks-link > a:before{content:'';background-image:url(https://de.wikipedia.org/w/extensions/Wikibase/client/resources/images/edit.png?52328);background-image:linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 viewBox=%220 0 12 12%22%3E %3Cpath fill=%22%230645ad%22 d=%22M10.5 4.7l1.3-1.3c.3-.3.3-.7 0-.9L9.6.2c-.3-.3-.7-.3-.9 0L7.3 1.5l3.2 3.2zM6.6 2.2L0 8.8V12h3.2l6.6-6.6-3.2-3.2z%22/%3E %3C/svg%3E");background-position:left top;background-repeat:no-repeat;-webkit-background-size:10px 10px;background-size:10px 10px;display:inline-block;width:10px;height:10px;margin-right:2px;vertical-align:top;}
.wb-langlinks-link > a:link,.wb-langlinks-link > a:visited{color:#72777d!important;}
.wb-langlinks-link > a:link:before,.wb-langlinks-link > a:visited:before{-webkit-filter:grayscale(1);filter:grayscale(1);opacity:0.73;}
.wb-langlinks-link > a:hover{color:#0645ad!important;}
.wb-langlinks-link > a:hover:before{-webkit-filter:none;filter:none;opacity:1;}
div.after-portlet-lang:after{content:'';clear:both;display:block;}
/*! CSS Used from: Embedded */
.mw-ui-button{background-color:#f8f9fa;color:#222222;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:4em;max-width:28.75em;margin:0;padding:0.57142857em 0.9375em;border:1px solid #a2a9b1;border-radius:2px;cursor:pointer;vertical-align:middle;font-family:inherit;font-size:1em;font-weight:bold;line-height:1;text-align:center;-webkit-appearance:none;}
.mw-ui-button:visited{color:#222222;}
.mw-ui-button:hover{background-color:#ffffff;color:#444444;border-color:#a2a9b1;}
.mw-ui-button:focus{background-color:#ffffff;color:#222222;border-color:#3366cc;box-shadow:inset 0 0 0 1px #3366cc,inset 0 0 0 2px #ffffff;outline-width:0;}
.mw-ui-button:focus::-moz-focus-inner{border-color:transparent;padding:0;}
.mw-ui-button:active{background-color:#c8ccd1;color:#000000;border-color:#72777d;box-shadow:none;}
.mw-ui-button:disabled{background-color:#c8ccd1;color:#ffffff;border-color:#c8ccd1;cursor:default;}
.mw-ui-button:disabled:hover,.mw-ui-button:disabled:active{background-color:#c8ccd1;color:#ffffff;box-shadow:none;border-color:#c8ccd1;}
button.mw-ui-button::-moz-focus-inner{margin-top:-1px;margin-bottom:-1px;}
.suggestions{overflow:hidden;position:absolute;top:0;left:0;width:0;border:0;z-index:1099;padding:0;margin:-1px 0 0 0;}
.suggestions-special{position:relative;background-color:#fff;cursor:pointer;border:1px solid #a2a9b1;margin:0;margin-top:-2px;display:none;padding:0.25em 0.25em;line-height:1.25em;}
.suggestions-results{background-color:#fff;cursor:pointer;border:1px solid #a2a9b1;padding:0;margin:0;}
.cite-accessibility-label{top:-99999px;clip:rect(1px,1px,1px,1px);position:absolute!important;padding:0!important;border:0!important;height:1px!important;width:1px!important;overflow:hidden;}
@media print{
#centralNotice{display:none;}
}
/*! CSS Used from: Embedded */
.mw-interlanguage-selector,.mw-interlanguage-selector:active{cursor:pointer;padding:4px 6px 4px 25px;font-size:13px;font-weight:normal;background-image:url(https://de.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/compact-links-trigger.png?b0c8e);background-image:linear-gradient(transparent,transparent),url(https://de.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/compact-links-trigger.svg?ebb8e);background-size:18px;background-repeat:no-repeat;background-position:left 4px center;margin:4px 0;text-align:left;}
.mw-interlanguage-selector:active{background-color:#c8ccd1;color:#54595d;}
/*! CSS Used from: Embedded */
#mwe-popups-svg{position:absolute;top:-1000px;}
/*! CSS Used from: https://de.wikipedia.org/w/load.php?lang=de&modules=site.styles&only=styles&skin=vector */
.rahmenfarbe1{border:1px #a2a9b1;}
table.hintergrundfarbe1,.hintergrundfarbe1{background-color:#f8f9fa;}
.metadata{display:none;}
sup.reference{font-style:normal;font-weight:normal;}
ol.references li a[href|="#cite_ref"]{font-style:italic;}
#mw-content-text a.external[href^="https://tools.wmflabs.org"]{background-image:none;padding-right:0;}
.mw-body{position:relative;z-index:0;}
.mw-body-content{position:static;}
@media print{
.mw-body-content .plainlinks-print a.external.text:after{content:none;}
#footer-info-copyright-stats,#footer-info-copyright-separator{display:none;}
}
