.mw-parser-output > div {
    column-width: 30em
}

.cite > span {
    white-space: nowrap;
}

.reference-text > cite {
    font-style: italic
}

#footer-places > li {
    display: none;
}

#footer > div {
    clear: both;
}

#centralNotice {
    display: none;
}

#WMDE-Banner-Container {
}

#WMDE_Banner {
    top: 0px;
    left: 0px;
    display: none;
}

#WMDE_Banner-form {
}

#WMDE_Banner-frequency {
}

#interval_onetime {
}

#interval1 {
}

#interval3 {
}

#interval6 {
}

#interval12 {
}

#WMDE_Banner-frequency-error-wrapper {
}

#WMDE_Banner-frequency-error-text {
}

#WMDE_Banner-amounts {
}

#amount_label_1 {
}

#field-amount_total_1 {
}

#amount_label_2 {
}

#field-amount_total_2 {
}

#amount_label_3 {
}

#field-amount_total_3 {
}

#amount_label_4 {
}

#field-amount_total_4 {
}

#amount_label_5 {
}

#field-amount_total_5 {
}

#amount_label_6 {
}

#field-amount_total_6 {
}

#field-amount_total_custom {
}

#amount-other-input {
}

#WMDE_Banner-amounts-error-wrapper {
}

#WMDE_Banner-amounts-error-text {
}

#WMDE_Banner-payment-type {
}

#WMDE_Banner-payment-type-error-wrapper {
}

#WMDE_Banner-payment-type-error-text {
}

#WMDE_Banner-submit {
}

#periode {
}

#intervalType {
}

#impCount {
}

#bImpCount {
}

#application-of-funds-link {
}

#wmde-campaign-parameters {
    display: none
}

#mw-page-base {
    padding-top: 0px;
}

#mw-head-base {
}

#content {
}

#top {
}

#siteNotice {
}

#firstHeading {
}

#bodyContent {
}

#siteSub {
}

#contentSub {
}

#jump-to-nav {
}

#mw-content-text {
}

#Vorlage_Dieser_Artikel {
    border-bottom-style: solid;
    clear: right;
    font-size: 95%;
    margin-bottom: 1em;
    width: 100%;
}

#bksicon {
    width: 26px;
    vertical-align: middle
}

#toc {
}

#toctogglecheckbox {
    display: none
}

#Leben_und_Karriere {
}

#Fr.C3.BChe_Jahre_und_Karrierebeginn {
}

#Frühe_Jahre_und_Karrierebeginn {
}

#cite_ref-studio_1-0 {
}

#cite_ref-2 {
}

#cite_ref-studio_1-1 {
}

#cite_ref-3 {
}

#cite_ref-studio_1-2 {
}

#Durchbruch_und_internationale_Schauspielkarriere {
}

#cite_ref-imdb_4-0 {
}

#cite_ref-5 {
}

#T.C3.A4tigkeit_als_Filmproduzent {
}

#Tätigkeit_als_Filmproduzent {
}

#cite_ref-6 {
}

#Privatleben {
}

#cite_ref-7 {
}

#cite_ref-SPON-565557_8-0 {
}

#cite_ref-9 {
}

#Sonstiges {
}

#cite_ref-10 {
}

#cite_ref-11 {
}

#cite_ref-12 {
}

#cite_ref-13 {
}

#cite_ref-14 {
}

#cite_ref-15 {
}

#cite_ref-16 {
}

#cite_ref-17 {
}

#cite_ref-18 {
}

#cite_ref-19 {
}

#cite_ref-20 {
}

#cite_ref-21 {
}

#Filmografie {
}

#Darsteller {
}

#Spielfilme {
}

#Fernsehserien {
}

#Synchronsprecher {
}

#Produzent {
}

#Auszeichnungen {
}

#cite_ref-22 {
}

#cite_ref-23 {
}

#Synchronsprecher_2 {
}

#Literatur {
}

#Weblinks {
}

#Einzelnachweise {
}

#cite_note-studio-1 {
}

#cite_note-2 {
}

#cite_note-3 {
}

#cite_note-imdb-4 {
}

#cite_note-5 {
}

#cite_note-6 {
}

#cite_note-7 {
}

#cite_note-SPON-565557-8 {
}

#cite_note-9 {
}

#cite_note-10 {
}

#cite_note-11 {
}

#cite_note-12 {
}

#cite_note-13 {
}

#cite_note-14 {
}

#cite_note-15 {
}

#cite_note-16 {
}

#cite_note-17 {
}

#cite_note-18 {
}

#cite_note-19 {
}

#cite_note-20 {
}

#cite_note-21 {
}

#cite_note-22 {
}

#cite_note-23 {
}

#normdaten {
}

#Vorlage_Personendaten {
    border-style: solid;
    margin-top: 20px;
}

#catlinks {
}

#mw-normal-catlinks {
}

#mw-data-after-content {
}

#mw-navigation {
}

#mw-head {
    top: 0px;
}

#p-personal {
}

#p-personal-label {
}

#pt-anonuserpage {
}

#pt-anontalk {
}

#pt-anoncontribs {
}

#pt-createaccount {
}

#pt-login {
}

#left-navigation {
}

#p-namespaces {
}

#p-namespaces-label {
}

#ca-nstab-main {
}

#ca-talk {
}

#p-variants {
}

#p-variants-label {
}

#right-navigation {
}

#p-views {
}

#p-views-label {
}

#ca-view {
}

#ca-viewsource {
}

#ca-history {
}

#p-cactions {
}

#p-cactions-label {
}

#p-search {
}

#searchform {
}

#simpleSearch {
}

#searchInput {
}

#searchButton {
}

#mw-panel {
    top: 0px;
}

#p-logo {
}

#p-navigation {
}

#p-navigation-label {
}

#n-mainpage-description {
}

#n-topics {
}

#n-randompage {
}

#p-Mitmachen {
}

#p-Mitmachen-label {
}

#n-Artikel-verbessern {
}

#n-Neuerartikel {
}

#n-portal {
}

#n-help {
}

#n-recentchanges {
}

#n-contact {
}

#n-sitesupport {
}

#p-tb {
}

#p-tb-label {
}

#t-whatlinkshere {
}

#t-recentchangeslinked {
}

#t-specialpages {
}

#t-permalink {
}

#t-info {
}

#t-wikibase {
}

#t-cite {
}

#p-wikibase-otherprojects {
}

#p-wikibase-otherprojects-label {
}

#p-coll-print_export {
}

#p-coll-print_export-label {
}

#coll-create_a_book {
}

#coll-download-as-rl {
}

#t-print {
}

#p-lang {
}

#p-lang-label {
}

#footer {
}

#footer-info {
}

#footer-info-lastmod {
}

#footer-info-copyright {
}

#footer-info-copyright-stats {
}

#footer-info-copyright-separator {
}

#footer-info-copyright-info {
}

#footer-places {
}

#footer-places-privacy {
}

#footer-places-about {
}

#footer-places-disclaimer {
}

#footer-places-developers {
}

#footer-places-statslink {
}

#footer-places-cookiestatement {
}

#footer-places-mobileview {
}

#footer-icons {
}

#footer-copyrightico {
}

#footer-poweredbyico {
}

#mwe-popups-svg {
}

#mwe-popups-mask {
}

#mwe-popups-mask-flip {
}

#mwe-popups-landscape-mask {
}

#mwe-popups-landscape-mask-flip {
}

.banner {
}

.banner__content {
}

.infobox {
}

.infobox__text {
}

.text__headline {
}

.text__headline--bold {
}

.optional-text.text-m {
}

.text__paragraph {
}

.text__paragraph--bold {
}

.optional-text.text-xl {
}

.optional-text.text-l {
}

.text__paragraph--italic {
}

.progress_bar.progress_bar--lateprogress.progress_bar--finished {
}

.progress_bar__wrapper {
}

.progress_bar__donation_fill {
    width: 85.2019%;
}

.progress_bar__days_left {
}

.progress_bar__donation_text {
}

.js-donation_value {
}

.progress_bar__donation_remaining.progress_bar__donation_remaining--inner {
}

.js-value_remaining {
}

.progress_bar__donation_remaining.progress_bar__donation_remaining--outer {
}

.progress_bar__pointer_tip {
}

.progress_bar__pointer_line {
}

.form {
}

.form-field-group {
}

.select-group-container {
}

.select-group__option.select-group__option--halfwidth {
}

.select-group__state {
}

.select-group__option.select-group__option--halfwidth.donation-frequency-monthly {
}

.select-group__option.select-group__option--halfwidth.donation-frequency-yearly {
}

.select-group__option.select-group__option--halfwidth.select-group__option-amount-other-input {
}

.select-group__input {
}

.button-group__button {
}

.button-group__label {
}

.banner__footer {
}

.footer {
}

.footer__item {
}

.footer__importantinfo {
}

.iban-block {
}

.footer__item.footer__item--rightflex {
}

.close {
}

.close__link {
}

.mw-indicators.mw-body-content {
}

.mw-jump-link {
}

.mw-parser-output {
}

.thumb.tright {
}

.thumbinner {
    width: 172px;
}

.image {
}

.thumbimage {
}

.thumbcaption {
}

.magnify {
}

.internal {
}

.toctitle {
}

.toctogglespan {
}

.toctogglelabel {
}

.toclevel-1.tocsection-1 {
}

.tocnumber {
}

.toctext {
}

.toclevel-2.tocsection-2 {
}

.toclevel-2.tocsection-3 {
}

.toclevel-2.tocsection-4 {
}

.toclevel-2.tocsection-5 {
}

.toclevel-2.tocsection-6 {
}

.toclevel-1.tocsection-7 {
}

.toclevel-2.tocsection-8 {
}

.toclevel-3.tocsection-9 {
}

.toclevel-3.tocsection-10 {
}

.toclevel-2.tocsection-11 {
}

.toclevel-2.tocsection-12 {
}

.toclevel-1.tocsection-13 {
}

.toclevel-1.tocsection-14 {
}

.toclevel-1.tocsection-15 {
}

.toclevel-1.tocsection-16 {
}

.toclevel-1.tocsection-17 {
}

.mw-redirect {
}

.new {
}

.internal.mw-magiclink-isbn {
}

.sisterproject {
    margin: 0.1em 0 0 0;
}

.plainlinks {
}

.external.text {
}

.references {
}

.mw-cite-backlink {
}

.cite-accessibility-label {
}

.reference-text {
}

.cite {
}

.Abrufdatum {
}

.Z3988 {
    display: none;
}

.external.free {
}

.plainlinks-print {
}

.metadata.noprint {
}

.noprint {
}

.metadata {
}

.printfooter {
}

.visualClear {
}

.read-more-container {
}

.vectorMenuCheckbox {
}

.menu {
}

.mw-wiki-logo {
}

.body {
}

.wb-otherproject-link.wb-otherproject-commons {
}

.wb-otherproject-link.wb-otherproject-wikinews {
}

.uls-settings-trigger {
}

.interlanguage-link.interwiki-af {
    display: none;
}

.interlanguage-link-target {
}

.interlanguage-link.interwiki-als {
}

.interlanguage-link.interwiki-an {
    display: none;
}

.interlanguage-link.interwiki-ar {
    display: none;
}

.interlanguage-link.interwiki-arz {
    display: none;
}

.interlanguage-link.interwiki-ast {
    display: none;
}

.interlanguage-link.interwiki-az {
    display: none;
}

.interlanguage-link.interwiki-azb {
    display: none;
}

.interlanguage-link.interwiki-be {
    display: none;
}

.interlanguage-link.interwiki-be-x-old {
    display: none;
}

.interlanguage-link.interwiki-bg {
    display: none;
}

.interlanguage-link.interwiki-bn {
    display: none;
}

.interlanguage-link.interwiki-bo {
    display: none;
}

.interlanguage-link.interwiki-br {
    display: none;
}

.interlanguage-link.interwiki-bs {
    display: none;
}

.interlanguage-link.interwiki-ca {
    display: none;
}

.interlanguage-link.interwiki-ckb {
    display: none;
}

.interlanguage-link.interwiki-cs {
    display: none;
}

.interlanguage-link.interwiki-cy {
    display: none;
}

.interlanguage-link.interwiki-da {
    display: none;
}

.interlanguage-link.interwiki-diq {
    display: none;
}

.interlanguage-link.interwiki-dty {
    display: none;
}

.interlanguage-link.interwiki-el {
    display: none;
}

.interlanguage-link.interwiki-eml {
    display: none;
}

.interlanguage-link.interwiki-en.badge-Q17437796.badge-featuredarticle {
}

.interlanguage-link.interwiki-eo {
    display: none;
}

.interlanguage-link.interwiki-es.badge-Q17437796.badge-featuredarticle {
}

.interlanguage-link.interwiki-et {
    display: none;
}

.interlanguage-link.interwiki-eu {
    display: none;
}

.interlanguage-link.interwiki-ext {
    display: none;
}

.interlanguage-link.interwiki-fa {
    display: none;
}

.interlanguage-link.interwiki-fi {
    display: none;
}

.interlanguage-link.interwiki-fr {
}

.interlanguage-link.interwiki-fy {
    display: none;
}

.interlanguage-link.interwiki-ga {
    display: none;
}

.interlanguage-link.interwiki-gd {
    display: none;
}

.interlanguage-link.interwiki-gl {
    display: none;
}

.interlanguage-link.interwiki-gv {
    display: none;
}

.interlanguage-link.interwiki-hak {
    display: none;
}

.interlanguage-link.interwiki-he {
    display: none;
}

.interlanguage-link.interwiki-hi {
    display: none;
}

.interlanguage-link.interwiki-hr {
    display: none;
}

.interlanguage-link.interwiki-ht {
    display: none;
}

.interlanguage-link.interwiki-hu {
    display: none;
}

.interlanguage-link.interwiki-hy {
    display: none;
}

.interlanguage-link.interwiki-ia {
    display: none;
}

.interlanguage-link.interwiki-id {
    display: none;
}

.interlanguage-link.interwiki-ilo {
    display: none;
}

.interlanguage-link.interwiki-io {
    display: none;
}

.interlanguage-link.interwiki-is {
    display: none;
}

.interlanguage-link.interwiki-it.badge-Q17437798.badge-goodarticle {
}

.interlanguage-link.interwiki-ja {
    display: none;
}

.interlanguage-link.interwiki-jv {
    display: none;
}

.interlanguage-link.interwiki-ka {
    display: none;
}

.interlanguage-link.interwiki-kk {
    display: none;
}

.interlanguage-link.interwiki-kn {
    display: none;
}

.interlanguage-link.interwiki-ko {
    display: none;
}

.interlanguage-link.interwiki-ky {
    display: none;
}

.interlanguage-link.interwiki-la {
    display: none;
}

.interlanguage-link.interwiki-lb {
    display: none;
}

.interlanguage-link.interwiki-li {
    display: none;
}

.interlanguage-link.interwiki-lt {
    display: none;
}

.interlanguage-link.interwiki-lv {
    display: none;
}

.interlanguage-link.interwiki-mai {
    display: none;
}

.interlanguage-link.interwiki-mg {
    display: none;
}

.interlanguage-link.interwiki-mk {
    display: none;
}

.interlanguage-link.interwiki-ml {
    display: none;
}

.interlanguage-link.interwiki-mn {
    display: none;
}

.interlanguage-link.interwiki-mr {
    display: none;
}

.interlanguage-link.interwiki-ms {
    display: none;
}

.interlanguage-link.interwiki-my {
    display: none;
}

.interlanguage-link.interwiki-nah {
    display: none;
}

.interlanguage-link.interwiki-ne {
    display: none;
}

.interlanguage-link.interwiki-nl {
}

.interlanguage-link.interwiki-nn {
    display: none;
}

.interlanguage-link.interwiki-no {
    display: none;
}

.interlanguage-link.interwiki-pa {
    display: none;
}

.interlanguage-link.interwiki-pih {
    display: none;
}

.interlanguage-link.interwiki-pl {
    display: none;
}

.interlanguage-link.interwiki-pms {
    display: none;
}

.interlanguage-link.interwiki-ps {
    display: none;
}

.interlanguage-link.interwiki-pt.badge-Q17437796.badge-featuredarticle {
}

.interlanguage-link.interwiki-ro {
    display: none;
}

.interlanguage-link.interwiki-ru {
}

.interlanguage-link.interwiki-sco {
    display: none;
}

.interlanguage-link.interwiki-sd {
    display: none;
}

.interlanguage-link.interwiki-sh {
    display: none;
}

.interlanguage-link.interwiki-simple {
    display: none;
}

.interlanguage-link.interwiki-sk {
    display: none;
}

.interlanguage-link.interwiki-sl {
    display: none;
}

.interlanguage-link.interwiki-sq {
    display: none;
}

.interlanguage-link.interwiki-sr {
    display: none;
}

.interlanguage-link.interwiki-su {
    display: none;
}

.interlanguage-link.interwiki-sv.badge-Q17437796.badge-featuredarticle {
    display: none;
}

.interlanguage-link.interwiki-ta {
    display: none;
}

.interlanguage-link.interwiki-te {
    display: none;
}

.interlanguage-link.interwiki-tg {
    display: none;
}

.interlanguage-link.interwiki-th {
    display: none;
}

.interlanguage-link.interwiki-tr {
}

.interlanguage-link.interwiki-tt {
    display: none;
}

.interlanguage-link.interwiki-tyv {
    display: none;
}

.interlanguage-link.interwiki-uk {
    display: none;
}

.interlanguage-link.interwiki-ur {
    display: none;
}

.interlanguage-link.interwiki-uz {
    display: none;
}

.interlanguage-link.interwiki-vi {
    display: none;
}

.interlanguage-link.interwiki-vo {
    display: none;
}

.interlanguage-link.interwiki-war {
    display: none;
}

.interlanguage-link.interwiki-wuu {
    display: none;
}

.interlanguage-link.interwiki-xmf {
    display: none;
}

.interlanguage-link.interwiki-yi {
    display: none;
}

.interlanguage-link.interwiki-yo {
    display: none;
}

.interlanguage-link.interwiki-zh {
    display: none;
}

.interlanguage-link.interwiki-zh-min-nan {
    display: none;
}

.interlanguage-link.interwiki-zh-yue {
    display: none;
}

.mw-interlanguage-selector.mw-ui-button {
}

.after-portlet.after-portlet-lang {
}

.wb-langlinks-edit.wb-langlinks-link {
}

.wbc-editpage {
}

.external {
}

.extiw {
}

.noprint.stopMobileRedirectToggle {
}

.suggestions {
    display: none;
    font-size: 13px;
}

.suggestions-results {
}

.suggestions-special {
}
